<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cargar prodcuto</title>
</head>

<body>
    <h1>Cargar un prodcuto</h1>

    <form action="" method="post">
        <label for="product_name">Nombreeee del Productote</label>
        <input type="text" name="product_name" id="product_name">

        <label for="product_description">Descripcion corta</label>
        <input type="text" name="product_description" id="product_description" max="50">
 
        <label for="product_long_description">Descripcion completa</label>
        <textarea name="product_long_description" name="product_long_description" id="product_long_description" 
        cols="30" rows="10"></textarea>

        <label for="product_price">precio</label>
        <input type="number" name="product_price" id="product_price" max="1">

        <button type="submit">Crear Producto</buttom>

    </form>
</body>

</html>